@import url(/styles/reset.css);

body {
    font-family: 'Inter';
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 67px 50px;
    text-align: center;
}
.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.main {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}

.leftside {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: flex-start;
}

.rightside {
    min-width: 300px;
}



.input {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.input__sum {
    width: 100%;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    font-size: 32px;
    line-height: 39px;
    box-sizing: border-box;
}

.input__category {
    padding-left: 10px;
    width: 100%;
    font-size: 32px;
    line-height: 39px;
}

.input__category-item--grey {
    opacity: 0.5;
    color: gray;
}

.input__btn, .reset-btn {
    width: 100%;
    background: #0094FF;
    font-size: 32px;
    line-height: 58px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.reset-btn {
    background:#FC0000;
}

.input__btn:active, .reset-btn:active {
    color: yellow;
}

.data {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    align-items: flex-start;
}

.limit {
    margin-top: 10px;
}
.limit__title, .total__title,  .status__title, .history__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.limit__value, .total__value, .status__value {
    font-size: 32px;
    line-height: 39px;
}
.total {}
.status {
    margin-top: 10px;
}

.green {
    color: #039100;
}
.red {
    color: #FC0000;
}

.history {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    align-items: flex-start;
}
.history__list {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    align-items: flex-start;
}
.history__item {
    font-size: 32px;
    line-height: 39px;
}

