@import url(/styles/reset.css);
@import url(/styles/popup-edit-limit.css);
body {
    font-family: 'Inter';
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 67px 50px;
    text-align: center;
}
.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.main {
    width: 450px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}
.rub:after {
    content: " руб.";
    position: absolute;
    right: 5px;
    top:3px;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
}

.input__sum {
    width: 100%;
    position: relative;
    padding: 5px 20px 5px 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    font-size: 24px;
    line-height: 32px;
    box-sizing: border-box;
    text-align: left;
}

.input__category {
    margin-bottom: 20px;
    padding: 5px 20px 5px 10px;
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    border: 1px solid #000000;
    text-align: left;
    box-sizing: border-box;
}

.input__categoryInput {
    width: 100%;
    border: none;
    font-size: inherit;
}

.input__sumInput {
    width: calc(100% - 45px);
    border: none;
    font-size: inherit;
}

.input__categoryInput:focus-visible, 
.limit__edit-btn--input:focus-visible,
.input__sumInput:focus-visible {
    border: none;
    outline: none;
}


.input__foolProof {
    margin-bottom: 20px;
}

.input__btn, .reset-btn {
    width: 100%;
    background: #0094FF;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.reset-btn {
    background:#FC0000;
}

.input__btn:active, .reset-btn:active {
    color: yellow;
}

.data {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    align-items: flex-start;
}

.limit, .total, .status {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    column-gap: 10px;
    height: 32px;
}
.limit__title, .total__title,  .status__title, .history__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.limit__value, .total__value, .status__value, .limit_value-change {
    padding-left: 5px;
    font-size: 24px;
    line-height: 28px;
}
.limit__value {
    width: 150px;
    display: inline-block;
    text-align: left;
}



.limit_value-change {
    width: 150px;
    display: flex;
    align-items: center;
    padding: 5px;
    text-align: left;
    border: 1px solid black;

}
.limit__edit-btn--input {
    width: 100%;
    border: none;
    font-size: inherit;
}

.limit__edit-btn, 
.limit__confirm-btn, 
.limit__cancel-btn  {
    width: 32px;
    height: 32px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: unset;
    cursor: pointer;
    background-size: contain;
}
.limit__edit-btn {
    background-image: url(../resourses/changeLimit-btn.png);
}

.limit__confirm-btn {
    background-image: url(../resourses/confirmLimit-btn.png);
}
.limit__cancel-btn {
    background-image: url(../resourses/cancelLimit-btn.png);

}

.limit__edit-btn:active {
    transform: rotate(45deg);
    transition: transform 0.01s ease-in;
}

.displayNone {
    display: none;
}

.green {
    color: #039100;
}
.red {
    color: #FC0000;
}

.history {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    align-items: flex-start;
}
.history__list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-position: inside;
}
.history__item {
    font-size: 20px;
    line-height: 24px;
}

.border-red {
    border: 1px solid red;
    transition: border 0.2s ease-in-out;
}