@import url(/styles/reset.css);

body {
    font-family: 'Inter';
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 67px 50px;
    text-align: center;
}
.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.main {
    width: 450px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
}

.input__sum {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    font-size: 32px;
    line-height: 39px;
    box-sizing: border-box;
}

.input__category {
    margin-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    font-size: 24px;
    line-height: 32px;
}

.input__foolProof {
    margin-bottom: 20px;
}

.input__btn, .reset-btn {
    width: 100%;
    background: #0094FF;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.reset-btn {
    background:#FC0000;
}

.input__btn:active, .reset-btn:active {
    color: yellow;
}

.data {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    align-items: flex-start;
}

.limit {
    margin-top: 10px;
}
.limit__title, .total__title,  .status__title, .history__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.limit__value, .total__value, .status__value {
    font-size: 24px;
    line-height: 32px;
}
.total {}
.status {
    margin-top: 10px;
}

.green {
    color: #039100;
}
.red {
    color: #FC0000;
}

.history {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    align-items: flex-start;
}
.history__list {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    align-items: flex-start;
}
.history__item {
    font-size: 20px;
    line-height: 24px;
}

.border-red {
    border: 1px solid red;
    transition: border 0.2s ease-in-out;
}